.output {
  height: 100%;
}

.output pre {
  margin: 0;
  padding: 10px;
  background-color: #fafafa;
  min-height: 100%;
  word-break: break-word;
  white-space: pre-wrap;
}

.output.error pre {
  color: firebrick;
}
