.keplr {
  width: 90%;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
}

.keplr::part(:global(body)):hover {
  background-color: #f5f5f5;
}

.keplr::part(:global(body)) {
  padding: 0.5rem;
}

.keplr .main,
.keplr .details {
  display: flex;
  justify-content: space-between;
}

.keplr .details {
  margin-top: 0.5em;
  font-size: 0.8em;
}

.keplr .details .balance {
  margin-left: 1em;
}

.keplr .label,
.keplr .address {
  overflow: hidden;
  text-overflow: ellipsis;
}

.keplr.selected::part(:global(base)) {
  background-color: black;
  color: white;
}

.keplr.selected::part(:global(body)):hover {
  background-color: #333;
}

.keplr .left {
  display: flex;
  flex-grow: 1;
}

.close {
  contain: none;
}

.close::part(:global(base)) {
  margin-top: 0.1rem;
}

.close::part(:global(base)):hover {
  color: lightcoral;
}

.wallet {
  margin-right: 0.5rem;
  contain: none;
}

.wallet::part(:global(base)) {
  margin-top: 0.1rem;
  contain: none;
}

.dialog {
  z-index: 100;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

.generate::part(:global(base)) {
  margin-left: -0.5em;
  margin-right: -0.5rem;
}
